.btn{
    width:120px;
    background-color: rgb(97, 144, 245);
    border-radius: 5px;
    color:white;
}
#btn{
    width:200px;
}
#bien_options{
    display: flex ;
    justify-content:space-around;
}
#photo_single{
    width: 500px;
    height: 400px;
}
#photo_biens{
    height: 200px;
}
#photo_biens_user{
    width:150px;
    height: 100px;
}
#home{
    border-right: 2px solid black;
}

#btn_modifier{
    background-color: rgb(49, 150, 83);
}
#btn_supprimer{
    background-color: rgb(211, 38, 38);
}
#nbr{
    color:green;
}
