<form method="post" action="{{ path('app_option_delete', {'id': option.id}) }}" onsubmit="return confirm('Vous voulez vraiment supprimer cette option?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
    <button><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>
