{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class='row'>
        <div class='col-9'id='home'>
            {% if app.user %}
                <h5 class="danger">Bienvenue {{ app.user.nom }}</h5>
            {% endif %}
            
            <h1 class='text-center'>Bienvenue sur le site de notre agence immobilière</h1>
            <p class='text-center'>Retrouvez tous les biens près de chez vous au meilleur prix</p>
          
            {{ include('bien/_card.html.twig') }}
    
        </div>
        <div class='col-3'>
            <div>
            <h3>Notre agence:</h3>
            <img src="{{asset('img/agence.jpg')}}" alt="">
            <p  class="border-bottom-2">Vous pouvez nous retrouver <br>tous les jours de <span class='fw-bold'>9h à 17h</span><br> au 1 rue de test 12345 TextVille <br> ou nous contacter<br>
            par mail: <a href="#">agence@agence.fr</a><br> par téléphone: <a href="#">+33 123456789</a></p>
            </div>
            <div class='border-top mt-3'>
            <p><a href="?filtre=Appartement">Appartement</a></p>
            <p><a href="?filtre=Maison">Maison</a></p>
            <p><a href="?filtre=Achat">Achat</a></p>
            <p><a href="?filtre=Vente">Location</a></p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
