{% extends 'base.html.twig' %}

{% block title %}New Bien{% endblock %}

{% block body %}
    <div class='container'>
        <h1 class='text-center'>Ajouter un nouveau bien</h1>

        {{ include('bien/_form.html.twig') }}

        <a href="{{ path('accueil') }}">back to list</a>
    </div>
    
{% endblock %}
