<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
		{% endblock %}
		{% block javascripts %}{% endblock %}
		</head>
		<body>
			<header>
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<div class="container-fluid">
						<a class="navbar-brand" href="/">Agence</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="/">Acceuil</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{path('biens')}}">Nos biens</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Déconnexion</a>
								</li>
								<li class="nav-item">
									<a class="nav-link">Connexion</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>

                {# Affichage des alertes générées dans les controller #}
				<div
					class="my-3">
					{# On récupère le type et les messages de chaque message flash #}
					{% for type, messages in app.flashes %}
						{# On génère l'alerte #}
						<div
							class="alert alert-{{type}}  alert-dismissible fade show" role="alert">
							{# On parcourt les messages pour les afficher #}
							{% for message in messages %}
								{{message}}
							{% endfor %}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					{% endfor %}
				</div>

			</header>


			{% block body %}{% endblock %}

			<footer class="bg-dark">
				<a href="" class="m-2">Nous contacter</a>
			
			</footer>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		</body>
	</html>
